<p id="notice"><%= notice %></p>




<p>
  <strong>Gravatar:</strong>
  <%= gravatar_for @user %>
</p>

<p>
  <strong>Role:</strong>
  	<% if @user.admin? %>
  		Administrator
  		<% else %>
  		User
	<% end %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

