<% provide(:title, 'Home') %>
<div class="nav navbar-nav navbar-right">
<h2>Greetings! =)</h1>
<h2>
  This is the home page for the RoR application maded by Nord according tutorial on <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.
</h2>
    <ul class="nav pull-left">
      <li ><%= link_to 'Projects', controller: 'projects', class: "btn btn-large btn-primary" %></li>
      <li><%= link_to 'Teams', controller: 'teams' %></li>
      <li><%= link_to 'Users', controller: 'users' %></li>
      <li><%= link_to 'Tasks', controller: 'tasks' %></li>
      <li><%= link_to 'Posts', controller: 'posts' %></li>
    </ul>
  
</div>
<div class="navbar-footer"><%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %><br>
<%= link_to "Моя Страница В Контакте", 'https://vk.com/nordknight', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>